*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
 /*  background-image: linear-gradient(45deg, #b2dbf3, #61cdd1);*/
  background-image: linear-gradient(45deg, #8accb5, #73eaf7);
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;

}

header{
    height: 200px;
    padding:  20px 0;
}
img{
    border-radius: 50%
}
.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
   
}

.logo{
    width: 50%;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.menu a:hover{
        transition: 0.5s;
        background-color: #1b98e0;
        color:black;
}
.sobre{
    position: relative;
    height: calc(100% - 200px );
}
.extras{
    position: absolute;
    bottom: -500px;
    right: -450px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #304d63;/*; #2a20b7 rgb(161, 29, 150),rgb(128, 214, 229)*/
}
.midia{
    position: absolute;
    right: 460px;
    top: 200px;
}
.midia img{
    display: block;
    margin: 10px 0;
    border-radius: 50%;
}
.texto h1{
   font-size: 55px;
}
.texto{
    margin: 15px;
}
.texto p{
    margin: 20px 0;
    color: black;
    font-size: 17px;
    font-weight:bold;
}
